.column a {
  color: gray;
  font-size: 8px;
  font-weight: 300;
  margin-bottom: 10px;
  padding: 5px 10px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  white-space: nowrap;
}

.main-button {
  font-weight: bold;
}

.banner {
  background-color: black;
  display: flex;
  padding: 20px;
  height: 375px !important;
  /* position: fixed; */
  /* bottom: 0; */
  /* left: 0; */
  /* width: 100%; */
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 2%;
  margin-right: 40px;
}

/* h2 {
  margin-left: 30%;
} */

h1 {
  font-size: small;
  display: flex;
}

.icons {
  display: flex;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: white;
  margin-left: 10px;
}

.icon svg {
  color: black;
}

.icon-container {
  width: fit-content;
  margin-left: 80%;
}






