.container {
  display: flex;
}

.shopping-summary {
  border: 1px solid black;
  justify-content: flex-start;
  width: 50%;
}

.cart-items-container {
  border: 1px solid black;
  justify-content: flex-end;
  width: 50%;
  height: 100vh;
  overflow-y: auto;
  scrollbar-color: #ff0000 #ffffff;
}

/* All code below is for the summary stuff of the shopping cart. */

.subtotal-title-and-amount {
  display: flex;
}

.subtotal-title {
  margin-right: 10px; 
}