.second-nav-bar {
  width: 100%;
  height: 10vh; 
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.logo-container {
  width: 100px;
  height: 50px;
  margin-bottom: 20px;
  margin-top: 3%;
  margin-left: 4%;
}

img#logo {
  display: flex;
  justify-content: center;
  width: 70px;
  height: 30px;
  margin-left: 5px;
  margin-top: 0%;
  margin-bottom: 0%;
  padding: none;
}

.nav-links-container {
  width: 50%;
  display: flex;
  justify-content: space-around;
  justify-content: center;
}

.bag-container {
  width: 15%;
  display: flex;
  justify-content: space-between;
  font-size: 25px;
  cursor: pointer; 
  /* cutomise the code below after the project is comelpete */
  margin-right: 5%;
}

.bag-icon {
  margin-left: 8%;
}

/* The code below is for search bar  */

.search-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 275px;
  background-color: #f8f8f8;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.search-bar input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 8px;
}

#search-button {
  width: 40px;
  height: 40px;
  background-color: #f8f8f8;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-left: 2%;
}

#search-input {
  flex: 1;
  height: 40px;
  padding: 10px;
  border: none;
  background-color: transparent;
  outline: none;
  font-size: 14px;
}

/* The code above is for search bar  */

/* All code below is for the category buttons  */

.all-category-button {
  padding: 11px;
  background: transparent;
  font-size: 16px;
  font-weight: 500; 
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  border: none;
  width: fit-content;
  /* border-bottom: 2px solid transparent;  */
}

.all-category-button:hover {
  cursor: pointer;
  color: #ffffff;
  color: #111;
  border-bottom: 2px solid #111;
} 

.men-category-button {
  padding: 11px;
  background: transparent;
  font-size: 16px;
  font-weight: 500; 
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  border: none;
  width: fit-content;
  /* border-bottom: 2px solid transparent;  */
}

.men-category-button:hover {
  cursor: pointer;
  color: #ffffff;
  color: #111;
  border-bottom: 2px solid #111;
} 

.women-category-button {
  padding: 11px;
  background: transparent;
  font-size: 16px;
  font-weight: 500; 
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  border: none;
  width: fit-content;
  /* border-bottom: 2px solid transparent;  */
}

.women-category-button:hover {
  cursor: pointer;
  color: #ffffff;
  color: #111;
  border-bottom: 2px solid #111;
} 

.kids-category-button {
  padding: 11px;
  background: transparent;
  font-size: 16px;
  font-weight: 500; 
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  border: none;
  width: fit-content;
  /* border-bottom: 2px solid transparent;  */
}

.kids-category-button:hover {
  cursor: pointer;
  color: #ffffff;
  color: #111;
  border-bottom: 2px solid #111;
} 

.access-category-button {
  padding: 11px;
  background: transparent;
  font-size: 16px;
  font-weight: 500; 
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  border: none;
  width: fit-content;
  /* border-bottom: 2px solid transparent;  */
}

.access-category-button:hover {
  cursor: pointer;
  color: #ffffff;
  color: #111;
  border-bottom: 2px solid #111;
} 

.sale-category-button {
  padding: 11px;
  background: transparent;
  font-size: 16px;
  font-weight: 500; 
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  border: none;
  width: fit-content;
  /* border-bottom: 2px solid transparent;  */
}

.sale-category-button:hover {
  cursor: pointer;
  color: #ffffff;
  color: #111;
  border-bottom: 2px solid #111;
} 

.bag {
  width: 50px;
  height: 50px;
}

