.product-container {
  display: flex;
}

.original {
  width: 100%;
  height: 50%;
}

.original h1 {
  margin-bottom: 2%;
  margin-left: 2%;
  font-size: larger;

  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.product-box {
  margin-right: 10px;
}

.product-box:hover {
  cursor: pointer;
}

