.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); 
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  width: 800px; 
  height: 680px;
  text-align: center;
}

.edit-review-header {
  margin-bottom: 1%;
}

.edit-review-header p {
  font-weight: 500;
  font-size: 24px;
  font-family: Helvetica Neue,Helvetica,Arial,Lucida Grande,sans-serif;
}

.edit-review-rating-input {
  display: flex;
  margin-left: 20%;
  margin-bottom: 2%;
}

/* The code below is suppose to change color over hovering or when a rating is given */

.edit-review-rating-input .filled {
  color: black;
}

.edit-review-rating-input .empty {
  color: grey;
}

/* The code above is suppose to change color over hovering or when a rating is given */

.edit-review-body-header {
  display: flex;
  margin-bottom: -2%;
  margin-left: 20.5%;
}

.edit-review-body-header p {
  margin-right: 1%;
  font-weight: 400;
  font-family: Helvetica Neue,Helvetica,Arial,Lucida Grande,sans-serif;
  font-size: 22px;
}

.edit-body-box {
  margin-bottom: 3%;
}

.edit-body-box textarea {
  border: 1px solid black;
  border-radius: 10px;
  margin-top: 3%;
}

.edit-review-title {
  display: flex;
  margin-bottom: -2%;
  margin-left: 20.5%;
}

.edit-review-title p {
  margin-right: 1%;
  font-weight: 400;
  font-family: Helvetica Neue,Helvetica,Arial,Lucida Grande,sans-serif;
  font-size: 22px;
}

.edit-form-title textarea {
  border: 1px solid black;
  border-radius: 10px;
  margin-top: 3%;
}

/* .editTitle {
  margin-top: 3%;
  margin-bottom: 3%;
} */

/* .editBody {
  margin-top: 3%;
  margin-bottom: 3%;
} */

/* The code below is for edit rating bar that will eventually go away and will be replaced with stars */

.editRating {
  margin-top: 3%;
  margin-bottom: 3%;
}

.editRating input {
  border: 1px solid black;
}

/* The code below is for edit rating bar that will eventually go away and will be replaced with stars */

.edit-review-modal-buttons {
  display: flex;
  margin-left: 20%;
}

.edit-review-submit-button {
  margin-bottom: 2%;
  margin-right: 40%;
}

.edit-review-submit-button button {
  padding: 10px 20px;
  background-color: black;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 1.4rem;
  border-radius: 40px;
  transition: background-color 0.3s;
}

.edit-review-submit-button button:hover {
  background-color: gray;
}

.edit-review-cancel-button {
  margin-bottom: 2%;
}

.edit-review-cancel-button button {
  padding: 10px 20px;
  background-color: black;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 1.4rem;
  border-radius: 40px;
  transition: background-color 0.3s;
}

.edit-review-cancel-button button:hover {
  background-color: gray;
}