.review-title h4 {
  margin-left: 5%;
  margin-top: 5%;
  margin-bottom: 3%;
  width: inherit;
  height: inherit;
}

/* The code below is for stars. */

.star-ratings {
  /* border-color: #000000; */
  margin-left: 5%;
  margin-bottom: 3%;
} 

/* The code above is for stars. */

.review-body p {
  width: inherit;
  flex-wrap: wrap;
  margin-left: 5%;
  margin-bottom: 4%;
  display: flex;
}

.review-EditButton {
  margin-left: 5%;
}

.review-deleteButton {
  margin-left: 10%;
}

.review-deleteButton:hover {
  cursor: pointer;
  color: #000000;
}

.review-EditButton:hover {
  cursor: pointer;
  color: #000000;
}

