.login-form-container {
  margin-top: 1%;
  margin-bottom: 2%;
}

.signIn-header-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2%;
}

.signIn-header-container img {
  margin-bottom: 2%;
  width: 100px;
  height: 50px;
  margin-top: 20px;
  margin-left: -25%;
}

.signIn-header-container h1 {
  font-size: 28px;
  font-weight: normal;
  font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
}

.login-header {
  font-weight: lighter; 
}

.signIn-centered-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.signIn-error-list {
  color: red;
  list-style-type: none;
  padding: 0;
  font-size: 1.2rem;
  margin-top: -10px;  /* changes made */
  margin-bottom: 10px; /* changes made */
}

.signIn-form-group {
  margin-bottom: 20px;
  display: flex;
}

.signIn-form-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  font-size: 1.4rem;
}

.signIn-form-group input {
  width: 460px;
  padding: 10px;
  font-size: 1.4rem;
  border-radius: 10px;
  border: 1px solid #ccc;
}

.signIn-form-group input:focus {
  outline: none; 
  border-color: #000; 
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5); 
}

/* The code below is for the button styling. */

.signIn-button {
  padding: 10px 20px;
  background-color: black;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 1.4rem;
  border-radius: 40px;
  transition: background-color 0.3s;
}

.signIn-button:hover {
  background-color: gray;
}

.signIn-button-container {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}

.signIn-button-container .signIn-button {
  margin-left: 10px;
}

/* The code below is for Login Button  */

.demologin:hover {
  background-color: gray;
}

.demologin {
  padding: 10px 20px;
  background-color: black;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 1.4rem;
  border-radius: 40px;
  transition: background-color 0.3s;
}

.demo-button-container .demologin {
  margin-left: 10px;
}

.demo-button-container {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
  margin-right: 44.1%;
}

/* The above code is for the demo login button  */

.login-terms {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  font-size: 3.5rem;
  font: inherit;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

