.product-detail {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 5px;
  padding: 5px;
  /* border: 1px solid #ccc; */
}

.product-image {
  flex: 1;
}

.product-image img {
  width: 100%;
  height: auto;
  margin-left: 10%;
}

.product-info {
  flex: 2;
  padding-left: 0px;
}

.product-title {
  font-size: 28px;
  font-weight: 500;
  margin-bottom: 10px;
  font-family: helvetica, medium;
  margin-top: 5%;
  margin-bottom: 5%;
  margin-left: 30%;
}

.sub-title {
  font-weight: lighter;
  font-size: 22px;
}

/* All code below is for the size buttons  */

.product-sizes {
  display: flex;
  flex-wrap: wrap;
  width: 370px;
  height: 220px;
  
  padding: 11px;
}

.product-sizes button {
  /* display: flex; */
  margin: 2px;
  height: 50px;
  width: 70px;
  border: #dcd8d8 solid 1px;
  border-radius: 5px;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  cursor: pointer;
  background-color: white;
}

.product-sizes p {
  display: flex;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 600;
  margin: 10px;
  height: fit-content;
}
.product-sizes button:hover {
  border: #111  solid 1px;
}

.select-product-sizes p {
  margin-left: 3%;
}

.select-product-sizes {
  margin-left: 30%;
}

.product-sizes {
  margin-bottom: 10px;
  margin-left: 0%;
}

.size-button {
  margin-right: 5px;
  padding: 5px 10px;
  border: 1px solid #ccc;
  background-color: transparent;
  cursor: pointer;
}

/* All code above is for size buttons or size select title  */

.add-to-cart {
  margin-bottom: 10px;
  margin-left: 30%;
  
}

.cart-button {
  padding: 10px 20px;
  background-color: black;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 1.2rem;
  border-radius: 40px;
  transition: background-color 0.3s;
  width: 300px;
  height: 50px;
}

.cart-button:hover {
  background-color: gray;
}

.product-description {
  /* border: 1px solid #ccc; */
  padding: 15px;
  width: 300px;
  font-weight: lighter;
  font-size: 20px;
  font-family: helvetica, medium;
  margin-left: 30%;
}

#breakline {
  height: 1px;
  margin: 5px;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%;
  background-color: #CACACA;
  width: 300px;
  margin-left: 30%;
}

h1 {
  font-weight: lighter;
  font-size: 24px;
  font-family: helvetica, medium;
  margin-left: 30%;
}

/* Move this border when you are done with the div  */
.product-info {
  /* border: 1px solid #ccc; */
  /* width: 0px; */
  margin-left: 30%;
}
/* Move this border when you are done with the div  */

.product-description {
  margin-bottom: 10px;
}

.product-reviews {
  margin-bottom: 10px;
  margin-left: 30%;
}

.review-dropdown {
  padding: 5px;
  /* border: 1px solid #ccc; */
  cursor: pointer;
}

/* The code below here is for experimenting purposes */



