.fa-solid fa-user:hover {
  cursor: pointer;
}

.profile-dropdown:hover {
  cursor: pointer;
}

.navbar {
  height: 35px;
  background-color: #f5f5f5;
}

/* .kutta {
  width: 0px;
  height: -30px;
  margin-bottom: 20px;
  margin-left: 0%;
} */

